/* === GLOBAL STYLES === */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    overflow: auto;
    font-family: Roboto, sans-serif;

    /* ... */
    /* margin: 0; */
    /* padding: 0; */
    flex-direction: column;
    /* align-items: center; */
    min-width: 60%;
    min-height: 60vh;
}

/* === GAME CONTAINER === */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    width: 100%;
    height: max-content;
    margin: 0px;

    /* === */
    min-height: inherit !important;
    min-width: inherit !important;
}

/* === GAME BOARD === */
.game-board {
    display: grid;
    width: -moz-fit-content;
    width: fit-content;
    gap: 3.5px; 
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    border-radius: 5px;
}

/* === CARDS === */
.card {
    box-sizing: border-box;
    height: 110px;
    width: 110px;
    margin: 2px; 
    perspective: 1000px;
    cursor: pointer;
}

.card-back, .card-front {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 1s;  
}

.card-back {
    background-color: #f5f5f5;
    background-image: url("images/globe.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-front {
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
}

.card.flipped .card-front {
    transform: rotateY(0);
}

.card.flipped .card-back {
    transform: rotateY(180deg);
}

/* === GAME INFO === */
.game-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#timer {
    font-size: 1.5em;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

#replay {
    margin-left: 20px;
    padding: 5px 15px;
}

/* === MODALS === */
.modal {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(243, 255, 255, 0.973);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    background-color: #ffffff;  
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);  
    border-radius: 8px;  
    padding: 15px 20px;
    /* ... */
    width: 90%;  /* Increased width */
    max-width: 90%;  /* Set a maximum width */
    height: auto;  /* Let the height adjust based on content */
    max-height: 80vh;  /* Set a maximum height */
    overflow-y: auto;  /* Allow scrolling within the modal if content exceeds max-height*/
  
}

.modal-content h2 {
    color: #333;  
    font-weight:400;
    font-size: 24px;  
    margin-bottom: 15px;
    position: relative; 
    z-index: 1;
}

#winModal .green-text {/* for the rank message*/
    color: green;
}


.modal-content p {
    color: #888;
    font-weight:200;
    font-size: 18px;
    font-stretch: 100%;
    line-height: 1.5;
    margin: 3px 0; /* Adjust the value as needed */
}

.modal-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #ff407d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b90b43;
}

#startGame {
    animation: pulsate 2s infinite;
    background-color: #ff407d;
}

.loading-spinner {
    border: 8px solid #a76868;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    z-index: 10; /* Add this line */
    background-color: rgba(255, 255, 255, 0.8); /* Add this line */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

/* === CONTACT FORM === */
#contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contactForm label {
    font-weight: bold;
}


.checkbox-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row; /* Ensure it's row */
}

#sendButton {
    align-self: center;
    margin-top: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled-button:enabled {
    opacity: 1;
    cursor: pointer;
}

#thankYouModal {
    /* width: 80vw;   */
    /* height: 80vh;  */
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    overflow: auto; 
}

#thankYouContent {
    width: 60%;  /* Increased width */
    max-width: 90%;  /* Set a maximum width */
    /* width: 50vw;  
    height: 50vh;  */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; 
}

.header-image {
    width: 100%; 
    max-height: 300px; 
    object-fit: cover;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-content label {
    display: block;  
    text-align: left;  
    padding-bottom: 8px;  
    line-height: 19.88px;  
    font-weight: 400;  
    font-size: 14px;  
}

#privacyPolicy + label {
    display: inline;
    text-align: left;
    vertical-align: middle;
}

#privacyPolicy {
    appearance: none; 
    background-color: #f0f0f0; 
    border: 1px solid rgb(60, 60, 60); 
    width: 15px; 
    height: 15px; 
    cursor: pointer; 
    position: relative; 
}

#privacyPolicy:checked {
    background-color: #007BFF;
}

#privacyPolicy:checked::after {
    content: '✓'; /* Unicode checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* Adjust as needed */
    color: #ffffff; /* White color for the checkmark */
}

#privacyPolicy, 
#privacyPolicy + label {
    margin: 0;
    padding: 0;
}

.modal-content input[type="text"], 
.modal-content input[type="email"] {
    border: 0.3px solid lightgrey; 
    border-width: 0.2px;
    padding: 5px; 
    margin-bottom: 10px;
    border-color: rgb(165, 166, 167); 
    height: 38px;
    width: inherit; 
    border-radius: 3px;
}

.modal-content .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
}

/* Error styling for the input field */
.modal-content input[type="email"].input-error {
    border-color: red;
    animation: shake 0.5s;
}

/* === KEYFRAMES === */
@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.9;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

/* === MEDIA QUERIES === */
@media (min-width: 801px) {
    .game-board {
        grid-template-columns: repeat(5, 1fr); 
    }
}

@media (min-width: 601px) {
    .game-board {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 750px) {
    .card {
        width: 85px; 
        height: 85px;
    }
}

@media (max-width: 700px) {
    .modal-content h2 {
        font-size: 20px;  /* Reduced font size */
        margin-bottom: 10px;
    }

    .modal-content p {
        font-size: 16px;  /* Reduced font size */
    }

    .modal-content label {
        font-size: 12px;  /* Reduced font size */
    }

    button {
        padding: 8px 15px;  /* Reduced padding */
        font-size: 14px;   /* Reduced font size */
    }

    .modal-content input[type="text"], 
    .modal-content input[type="email"] {
        height: 30px;  /* Reduced height */
        font-size: 14px;  /* Reduced font size */
        padding: 4px 8px;  /* Reduced padding */
    }

    .header-image {
        max-height: 200px;  /* Reduced max-height */
    }
}

@media (max-width: 550px) and (orientation: landscape){
    .game-board {
        gap: 0px;
    }
    .card {
        width: 56px;
        height: 56px;
    }

    .game-info {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    #timer {
        font-size: 1.0em;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
}

@media (max-width: 550px) and (orientation: portrait){
    .card {
        width: 65px;
        height: 65px;
    }
}